.mainDivChatPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 97%;
}

footer {
    width: 100%;
    height: 3%;
    background-color: #d9d7d7;
    border-top: 1px solid gray;
}
