.chadSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 100%;
    border-left: 1px solid gray;
    overflow: hidden;
}

.headerChat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid gray;
    background-color: #d9d7d7;
    color: #252222;
    font-size: 18px;
}

.chatByContact {
    width: 100%;
    flex: 1;
    padding: 0 20px;
    overflow-y: auto;
}

.writeMSG {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #d9d7d7;
}
