.mainContact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
    width: 100%;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.contactInfo {
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3%;
}

.contactLogin {
    font-size: 14px;
    margin: 2px;
}

.contactLastMsg {
    font-size: 12px;
    overflow: hidden;
    color: grey;
    margin: 2px;
}

.lastMsgTime {
    width: 25%;
    font-size: 12px;
    text-align: center;
    color: grey;
}